{:paths ["src" "resources"]
 :deps  {ring/ring-core          {:mvn/version "1.15.3"}
         ring/ring-jetty-adapter {:mvn/version "1.15.3"}
         org.slf4j/slf4j-nop     {:mvn/version "2.0.17"}
         hiccup/hiccup           {:mvn/version "2.0.0"}
         babashka/process        {:mvn/version "0.6.25"}
         org.babashka/cli        {:mvn/version "0.8.67"}
         org.clojure/core.async  {:mvn/version "1.8.741"}}

 :aliases
 {:test {:extra-paths ["test"]
         :extra-deps  {io.github.cognitect-labs/test-runner
                       {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts   ["-m" "cognitect.test-runner"]
         :exec-fn     cognitect.test-runner.api/test}

  :build {:deps        {io.github.clojure/tools.build {:mvn/version "0.10.12"}}
          :extra-paths ["resources"]
          :ns-default  build}}}
